
.App {
  text-align: left;
}

header, #subheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#container {
  width: 600px;
  margin: 0 auto;
}

#PetInList {
  border-left: 1px solid black;
}

table {
  border: 2px solid black;
  border-collapse: collapse;
  width: 500px;
}

td {
  border-left: 2px solid #000;
}

table td + td {
  border-left: 2px solid #000;
}

tr:nth-child(even) {
  background-color: #eee;
}

tr:nth-child(odd) {
  background-color: #fff;
}

th {
  background-color: #cccccc;
  border-left: 2px solid #000;
}

th, td {
  height: 10px;
  padding: 5px;
}

#actions{
  display: flex;
  align-items: center;
}

#onePetContainer {
  width: 600px;
  margin: 0 auto;
}

#adoptButton {
  background-color: #ce2b27;
  font-weight: bold;
  color: white;
  padding: 5px;
  border: 2px solid black;
  box-shadow: 3px 3px #000;
  width: 150px;
}

#house {
  height: 10px;
  width: 10px;
}

#outerBox {
  border: 2px solid black;
  display: flex;
  width: 600px;
}

#columnOne {
  width: 150px;
}
.bold {
  font-weight: bold;
  margin-left: 10px;
}

li{
  list-style-type: none;
  margin-left: -40px;
}

#newColumnOne {
  width: 300px;
}

#newColumnTwo {
  display: inline-block;
}

#newOuterBox {
  border: 2px solid black;
  display: flex;
  width: 600px;
  padding: 10px;
}

.blueButton {
  background-color: #2b77e4;
  font-weight: bold;
  color: white;
  padding: 5px;
  border: 2px solid black;
  box-shadow: 3px 3px #000;
  width: 150px;
  margin-left: 10px;
}

.label {
  padding: 10px;
  margin-top: 10px;
}

.input {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 200px;
}

.skillsLabel {
  margin-top: 0;
  margin-left: 10px;
}

.error {
  color: #ce2b27;
}

h1 {
  font-size: xxx-large;
}
